<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1yf1C-1Rt37tH9Sdp_jcjtfITPmmqcJU</string>
	<key>GCM_SENDER_ID</key>
	<string>411742732648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grapewine.grapewineMusicApp</string>
	<key>PROJECT_ID</key>
	<string>grapewine-music-app</string>
	<key>STORAGE_BUCKET</key>
	<string>grapewine-music-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411742732648:ios:c1b40f5288b7881df8d6dd</string>
</dict>
</plist>